*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    background-color: bisque;
    /* giá trị bắt buộ phải có nếu sử dụng flex */
    display: flex;
    height: 600px;

}
.item{
    width: 100px;
    height: 100px;
    background-color: chocolate;
    font-size: 2rem;
    border: 2px solid black;
    /* text-align: center; */
    line-height: 100px;
    /* khi muốn cho phần tử vào giữa */
    display: flex;
    justify-content: center;
    align-items: center;
}