/* Clear 1 số thuộc tính về trang thái ban đầu */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Auto xuất hiện nếu trang web có ảnh */
img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.container {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.courses-item {
    flex-basis: 33.33%;
    padding: 0 15px;
    margin-bottom: 30px;
}


/* style card */
.card {
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    margin: auto;

    border-radius: 5px;
    overflow: hidden;
}
.image{
    height: 240px;
}
.image img{
    height: 100%;
    object-fit: cover;

}


.content {
    padding: 20px;
}

.title {
    font-size: 19px;
    color : #464646;
    font-weight: 400;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.type, .rating {
    font-size: 14px;
    color: #757575;
    font-weight: 100;
}

.type {
    margin: 14px 0;
}

.rating span {
    color: #ffd600;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    
}
.footer{
    background-color:#30598c;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 48px;
}

li,a{
    font-size: 14px;
    font-weight: 400;
     color: #fff; 
     margin-bottom: 16px;}
h2{
        margin-top: 24px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 8px;
        color: #fff;;
} 
.courses-item {
    flex-basis: 33.33%;
    padding: 0 15px;
    margin-bottom: 30px;}


