* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.header {
    position: relative;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
    align-items: center;
    height: 60px;
    background-color: #30598c;
    padding: 0 15px;

    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 120px;
}

.sidebar {
    align-items: center;
    display: flex;
}

/* style menu */
.menu>ul {
    display: flex;

}

.menu-item {
    height: 60px;
    font-size: 15px;
    color: #fff;
    margin: 0 10px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.menu-item span {
    margin-left: 4px;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    background-color: #fff;
    color: #212529;
    border-radius: 4px;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
}

.sub-menu-item {

    padding: 11px 16px;
    cursor: pointer;
    text-align: center;
}

.menu-item:hover .sub-menu {
    display: block;
}

.sub-menu-item:hover {
    background-color: #c4c4c4;
    color: #464646;
    cursor: pointer;
    padding: 0.7rem 1rem;
    text-align: center;
    text-transform: none;
    width: 100%;
}

/* stylE avatar */
.avartar img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.card{
    margin: 0 16px;
}
.cart-court{
    background-color: #26a69a;
    position: absolute;
    width: 12px;
    top: 12px;
}
    

.card-icon{
    color: #fff;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}
