.demo span{
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    font-size: 100px;
    box-sizing: border-box;
    box-shadow: 1px solid blue;
  
    opacity: 1;

    transition: all 1s;
}
@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }
  .demo:hover>span {
    transform: scale(1.5);
  
    
    margin: auto;
   
    transition: all 1s;}